body{
	background: url('../images/background-2.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	font-family: Arial;
}

.trash{
	/*height: 100px;
	width: 100px;*/
	position: absolute;
	top: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.red-trash{
	content: url(../images/test.webp);
	width: 67px;
	height: 79px;
}
.yellow-trash{
	content: url(../images/test.webp);
	width: 155px;
	height: 200px;
}
.blue-trash{
	content: url(../images/test.webp);
	width: 81px;
	height: 110px;
}
.black-trash{
	content: url(../images/test.webp);
	width: 154px;
	height: 180px;
}
.green-trash{
	content: url(../images/test.webp);
	width: 82px;
	height: 110px;
}

.win{
	display: none;
}
.lose{
	display: none;
}
.total-shadow{
	 width: 100vw;
	 height: 100vh;
	 background: rgba(0,0,0,0.6);
	 /*display: flex;*/
	 display: none;
	 justify-content: center;
	 align-items: center;
	 z-index: 1000;
	 position: relative;
}
.total-block{
	background: #fff;
	padding: 10px 100px 40px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
}
.score-block{
	background: #efefef;
	width: 300px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center; 
	border-radius: 20px 20px 0 0;
	position: absolute;
	bottom: 0;
	left: calc(50% - 150px);
} 

.start-game-window{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


